{% extends "layout.html" %}

{% block content %}
    <h1>Cambiar contraseña</h1>
    {% include 'includes/_messages.html' %}
    <form action="" method="POST">
        <label>La contraseña debe tener entre 8 y 20 caracteres.</label> </br>
        <label>Debe ser una combinación de letras mayúsculas y minúsculas, además de tener como mínimo 2 números.</label>
        <label>Se recomienda usar una contraseña que no haya sido utilizada en otras sitios web.</label>
        <div class="form-group">
            <label>Contraseña actual</label>
            <!--<input type="password" name="contraseña" pattern="[A-za-z0-9.!#$%&'*+-|=?^-`{\}~]{8,20}" class="form-control" value="{{request.form.contraseña}}" required>-->
            <input type="password" name="contraseña" class="form-control" value="{{request.form.contraseña}}">
        </div>
        <div class="form-group">
            <label>Nueva contraseña</label>
            <!--<input type="password" name="contraseña" pattern="[A-za-z0-9.!#$%&'*+-|=?^-`{\}~]{8,20}" class="form-control" value="{{request.form.contraseña}}" required>-->
            <input type="password" name="contraseña" class="form-control" value="{{request.form.contraseña}}">
        </div>
        <div class="form-group">
            <label>Repita la contraseña nueva</label>
            <!--<input type="password" name="contraseña_repetida"  pattern="[A-za-z0-9.!#$%&'*+-|=?^-`{\}~]{8,20}" class="form-control" value="{{request.form.contraseña_repetida}}" required>-->
            <input type="password" name="contraseña_repetida"  class="form-control" value="{{request.form.contraseña_repetida}}">
        </div>
        <button type="submit" class="btn btn-primary">Registrarse</button>
    </form>
{% endblock %}